meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Marco de referencia de Negocios verdes
meta(meta name="description" content="Los Negocios verdes son las actividades económicas que responden a la visión del desarrollo sostenible en las regiones. En Colombia, estos son considerados como una nueva forma de realizar negocios, teniendo en cuenta las expectativas de los clientes potenciales y el impacto que estos bienes y servicios generen en el medio ambiente.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")