h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('play', 'Introducción', 'main.html#page/introduccion/')
                    +navTemaItem('1', 'Negocios verdes', 'main.html#page/Negocios_verdes/')
                    +navTemaItem('2', 'Programas Regionales de Negocios Verdes(PRNV)', 'main.html#page/Programas_Regionales_de_Negocios_Verdes/')
                    +navTemaItem('3', 'Herramientas para la promoción de Negocios Verdes en Colombia', 'main.html#page/Herramientas_para_la_promocion_de_Negocios_Verdes_en_Colombia/')