.container
    .header-ecored
        h1 1. Negocios verdes
    .jumbotron.bg-white   
        img.img-a(src="assets/images/pages/ilustraciones/img2.png", alt="").img-fluid 
        .row.justify-content-center.align-items-center
            .col-6
                .jumbotron.caja-head
                    p Para iniciar, es necesario identificar y comprender el significado de los siguientes términos que se han establecido a nivel mundial en el marco de los negocios verdes: 
        .row.justify-content-center.align-items-center
            .col-8
                .jumbotron.color-1
                    ul.ul2
                        li
                            p #[strong Desarrollo sostenible:] principio organizador que busca satisfacer las necesidades actuales sin comprometer los recursos disponibles de las generaciones futuras. 
                .jumbotron.color-1
                    ul.ul2
                        li
                            p #[strong Economía verde:] el Programa de Naciones Unidas para el Medio Ambiente (PNUMA) la define como un sistema de actividades económicas relacionadas con la producción, distribución y consumo de bienes y servicios, que resulta en mejoras del bienestar humano en el largo plazo, sin, al mismo tiempo, exponer a las generaciones futuras a riesgos ambientales y escasez ecológicas significativas.
                    
                .jumbotron.color-1
                    ul.ul2
                        li
                            p #[strong Crecimiento verde:] Hace referencia al fomento del crecimiento y desarrollo económico, garantizando la continuidad de los recursos y servicios ambientales, de los cuales depende nuestro bienestar. 
        p.mt-5 Después de entender cada uno de los términos mencionados previamente. Se logra definir los Negocios verdes como todas aquellas actividades económicas que permiten un crecimiento económico para las regiones de manera paralela a la protección del medio ambiente. Es decir, es el desarrollo de bienes y servicios que cuentan con características novedosas y suplen las necesidades, gustos y preferencias de los clientes sin generar daños en el medio ambiente. 
        p A nivel internacional, se han desarrollado convenios y tratados entre países de diferentes partes del mundo, los cuales han definido compromisos que permiten la protección y recuperación del medio ambiente, y Colombia, por participar en cada uno de ellos, también se ha comprometido a desarrollar planes de acción y planes de mejora ambiental en los cuales contemplen cada uno de los compromisos adquiridos y la responsabilidad social de cada ciudadano. 
        p En consecuencia, Colombia, por ser miembro de la Organización de la Naciones Unidas, quienes a su vez plantearon su agenda mundial de desarrollo y los objetivos de desarrollo sostenibles, ha venido incorporando políticas, estrategias, planes, herramientas e instrumentos donde asume el compromiso con el crecimiento, consumo y producción verde, entre los que se destacan: la Política de Producción y Consumo Sostenible y el Plan Nacional de Negocios Verdes(PNNV). 
        .sub-ecored#11.mt-5
            h2 1.1. Política de Producción y Consumo Sostenible  
        img.img-a(src="assets/images/pages/ilustraciones/img3.svg", alt="").img-fluid
        p.mt-5 Hacia una cultura de consumo sostenible y transformación productiva. Su objetivo es cambiar los patrones de producción (oferta) y consumo (demanda) de los colombianos, reduciendo la contaminación, conservando los recursos naturales y fomentando el uso sostenible de la biodiversidad, como fuentes de competitividad empresarial (Ministerio de Ambiente y Desarrollo Sostenible, 2014).
        p Para facilitar su comprensión y aplicación, el Ministerio de Ambiente y Desarrollo Sostenible (MADS) ha establecido los siguientes principios generales, los cuales deben ser aceptados y respetados, tanto por las empresas como por los consumidores. 
        h3.mt-5 1.1.1 Principios
        p.mt-3 El Ministerio de Ambiente, Vivienda y Desarrollo Territorial (2010) define los siguientes principios: 
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img4.svg", alt="").img-fluid
        p.mt-5 Asimismo, el Ministerio de Ambiente, Vivienda y Desarrollo Territorial contempla los objetivos de esta política, los sectores en los cuales se aplica y las estrategias que se llevarán a cabo para lograr el ideal de esta, una producción y consumo sostenibles. 
        h3 1.1.2 Objetivos
        p.mt-3 El Ministerio de Ambiente, Vivienda y Desarrollo Territorial (2010) define los siguientes principios: 
        .row.justify-content-center.my-5
            .col-11.col-md-9
                .card-media.text-card-1
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img5.svg").img-fluid
                        p.card__copy 
                            span 
                                strong Objetivo general: 
                                br
                                | Orientar el cambio de los patrones de producción y consumo de la sociedad colombiana hacia la sostenibilidad ambiental, contribuyendo a la competitividad de las empresas y al bienestar de la población. Es decir, desarrollar productos y servicios sostenibles para ser ofertados, y a su vez, lograr que el consumidor tome conciencia de las adquisiciones que hace y su aporte al desarrollo y conservación del medio ambiente. 
            .col-11.col-md-9
                .card-media.text-card-1
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img6.svg").img-fluid
                        p.card__copy 
                            span 
                                strong Objetivos específicos:
                            ul.ul2
                                li
                                    p Crear una cultura de producción y consumo sostenible entre instituciones públicas, empresas y consumidores.
                            ul.ul2
                                li
                                    p Generar una masa crítica de empresas que posicionen las buenas prácticas, así como los bienes y servicios sostenibles, en el mercado nacional e internacional.
                            ul.ul2
                                li
                                    p Fortalecer el marco institucional que impulsa la producción y el consumo sostenible dentro del territorio nacional.
        h3.mt-5 1.1.3 Sectores estratégicos        
        p.mt-5 Es importante resaltar que, aunque la política no es excluyente, porque se aplica a todos los sectores que ofertan bienes y servicios, existen algunos sectores de la economía con mayor alcance en cuanto a su contribución a la sostenibilidad y en los cuales enfatiza la política, tales como:       
        .row.justify-content-center.align-items-center
            .col-8
                .jumbotron.color-1
                    ul.ul2
                        li
                            p Sector público (obras de infraestructura, vivienda social, tecnologías, transporte público, generación de energía), sector con perspectivas de incidir en avances de sostenibilidad de obras y proyectos de gran impacto y con potencial de que sea considerado como ejemplo en las prácticas de producción y consumo sostenible.        
                .jumbotron.color-1
                    ul.ul2
                        li
                            p Sector de la construcción, con perspectivas de incidir, a través de su diseño, en el consumo de energía y agua y en el manejo de residuos en el sector doméstico y de utilizar materiales sostenibles y estimular a los proveedores hacia procesos de producción más sostenibles, todo esto en proyectos de gran escala y crecimiento. 
                .jumbotron.color-1
                    ul.ul2
                        li
                            p Sector manufacturero (envases y empaques, alimentos, productos químicos, metalurgia), con perspectivas de optimizar en sus procesos productivos el uso eficiente de energía, agua y materias primas, y con potencial para la reducción y el aprovechamiento de los residuos y de reducir su huella de carbono.
                .jumbotron.color-1
                    ul.ul2
                        li
                            p Sector agroindustrial, sector en crecimiento, especialmente en relación con los biocombustibles, con alto potencial de exportación; sector intensivo en el uso de recursos y con alto potencial de optimización.
                .jumbotron.color-1
                    ul.ul2
                        li
                            p Sector turismo, este es un sector estratégico dentro de las políticas de competitividad nacional. Con potencial para hacer uso eficiente de energía, agua y manejo adecuado de residuos, con el fin de ser ejemplo por el uso racional de los recursos.
                .jumbotron.color-1
                    ul.ul2
                        li
                            p Sector de alimentos ecológicos, con potencial de crecimiento hacia la exportación y de considerarse como ejemplo para prácticas de producción y consumo sostenible.
                .jumbotron.color-1
                    ul.ul2
                        li
                            p Sector de productos y servicios provenientes de la biodiversidad, con potencial de crecimiento hacia la exportación y considerado como ejemplo para prácticas de producción, consumo y aprovechamiento sostenible.
                .jumbotron.color-1
                    ul.ul2
                        li
                            p Pymes proveedoras de grandes empresas, con potencial de difusión de prácticas entre grupos de empresas, de generación y conservación de empleo, y para implementar prácticas de producción y consumo sostenible.
        h3.mt-5 1.1.4 Estrategias y líneas de acción 
        p.mt-5 Las estrategias y líneas de acción enmarcan a cada uno de los actores involucrados en alcanzar el objetivo principal de la Política de Producción y Consumo Sostenible, cambiar los patrones de producción y consumo hacia la sostenibilidad, la cual se desarrolla en torno a ocho (8) ejes estratégicos interconectados, los cuales se observan en la siguiente figura y de los cuales los primeros siete (7) ejes orientan la aplicación de la política hacia sus resultados concretos y el octavo eje estratégico, orienta las acciones instrumentales para la gestión de la misma.
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img7.svg", alt="").img-fluid
        p.mt-5 De acuerdo con el Ministerio de Ambiente, Vivienda y Desarrollo Territorial (2010), “a través de sus instrumentos, la estrategia de gestión articula las demás estrategias de aplicación y facilita sus desarrollos”.
        .row.justify-content-center.align-items-center.mt-5
            .col-3.sup-1.mx-2
                img.img-a(src="assets/images/pages/ilustraciones/img8.svg").img-fluid 
            .col-3.sup-1.mx-2
                img.img-a(src="assets/images/pages/ilustraciones/img9.svg").img-fluid 
            .col-3.sup-1.mx-2
                img.img-a(src="assets/images/pages/ilustraciones/img10.svg").img-fluid                  
        .row.justify-content-center.align-items-stretch
            .col-3.mx-2.pt-6.px-4.pb-4.text-card-1     
                h3.text-center.mt-3 Diseño de proyectos sostenibles de infraestructura y movilidad:
                .hr-card-1
                p.mt-3.text-center la estrategia se fundamenta en la realización de proyectos a gran escala que generen impactos positivos sobre los indicadores de la calidad ambiental y el desarrollo sostenible, y que sean propuestos bajo la instauración de políticas de Estado. Por ejemplo: proyectos de generación de energía, sistema de transporte público, mejoramiento de la calidad de los combustibles o un plan de desarrollo vial nacional con criterios de sostenibilidad. 
            .col-3.mx-2.pt-6.px-4.pb-4.text-card-1 
                h3.text-center.mt-5 Fortalecimiento de la regulación:
                .hr-card-1
                p.mt-3.text-center mediante la realización de esta estrategia se busca fortalecer el marco regulatorio ambiental y su aplicación, el cual se ajustará de acuerdo con las tendencias ambientales de los mercados globalizados.
            .col-3.mx-2.pt-6.px-4.pb-4.text-card-1 
                h3.text-center.mt-5 Compras sostenibles de bienes y servicios:
                .hr-card-1
                p.mt-3.text-center su principal objetivo es repercutir en las decisiones de compra de los productores y consumidores de bienes y servicios, con el fin de lograr que estos actores incluyan criterios de calidad ambiental dentro su decisión de compra y así, innovar en productos y servicios más sostenibles.
        .row.justify-content-center.align-items-center.mt-5
            .col-3.sup-1.mx-2
                img.img-a(src="assets/images/pages/ilustraciones/img11.svg").img-fluid 
            .col-3.sup-1.mx-2
                img.img-a(src="assets/images/pages/ilustraciones/img12.svg").img-fluid 
            .col-3.sup-1.mx-2
                img.img-a(src="assets/images/pages/ilustraciones/img13.svg").img-fluid                  
        .row.justify-content-center.align-items-stretch
            .col-3.mx-2.pt-6.px-4.pb-4.text-card-1     
                h3.text-center.mt-4 Fortalecimiento de capacidades e investigación:
                .hr-card-1
                p.mt-3.text-center mediante esta estrategia se busca fortalecer y ampliar la capacitación y la investigación en prácticas, tecnologías y negocios sostenibles, como elementos básicos para avanzar en la innovación y la difusión de patrones de producción y consumo sostenibles.
            .col-3.mx-2.pt-6.px-4.pb-4.text-card-1 
                h3.text-center.mt-3 Generación de cultura de autogestión y autorregulación:
                .hr-card-1
                p.mt-3.text-center mediante la realización de esta estrategia se busca fortalecer el marco regulatorio ambiental y su aplicación, el cual se ajustará de acuerdo con las tendencias ambientales de los mercados globalizados.
            .col-3.mx-2.pt-6.px-4.pb-4.text-card-1 
                h3.text-center.mt-3 Encadenamiento de actores hacia la producción y consumo sostenible:
                .hr-card-1
                p.mt-3.text-center retende optimizar el uso de recursos e insumos, el aprovechamiento de residuos, la difusión de buenas prácticas, tecnologías más limpias y, la comercialización de productos sostenibles, a través del encadenamiento de empresas y actores.  
        .row.justify-content-center.align-items-center.mt-5
            .col-3.sup-1.mx-2
                img.img-a(src="assets/images/pages/ilustraciones/img14.svg").img-fluid 
            .col-3.sup-1.mx-2
                img.img-a(src="assets/images/pages/ilustraciones/img15.svg").img-fluid                 
        .row.justify-content-center.align-items-stretch
            .col-3.mx-2.pt-6.px-4.pb-4.text-card-1     
                h3.text-center.mt-3 Emprendimiento de negocios verdes:
                .hr-card-1
                p.mt-3.text-center su principal objetivo es promover el emprendimiento de Negocios verdes (productos o servicios con calidades ambientales o aprovechamiento sostenible de la biodiversidad) y el fortalecimiento de los ya existentes.
            .col-3.mx-2.pt-6.px-4.pb-4.text-card-1 
                h3.text-center.mt-3 gestión e integración de diferentes actores involucrados en programas y proyectos de  producción y consumo sostenible:
                .hr-card-1
                p.mt-3.text-center el objetivo de esta estrategia de gestión de la política es asegurar la difusión, aplicación, seguimiento, evaluación y ajuste de los objetivos, estrategias y acciones instrumentales.  Este eje para la gestión de la política, facilita la articulación entre las demás estrategias hacia el objetivo común de la Política de Producción y Consumo Sostenible.
        .sub-ecored#12.mt-5
            h2 1.2. Plan Nacional de Negocios Verdes(PNNV)          
        p.mt-5 Para el análisis del Plan Nacional de Negocios Verdes(PNNV) es importante señalar los antecedentes políticos, problemáticas y limitaciones identificadas a nivel nacional para el posicionamiento de los negocios verdes: 
        img.img-a(src="assets/images/pages/ilustraciones/img16.svg").img-fluid 
        .header-arrow.my-5.py-4
            h3.text-center Plan Estratégico Nacional de Mercados Verdes (PENMV) - Periodo 2002 - 2012
        p.mt-5 El PENMV fue el instrumento de planificación política que orientó la implementación de los Negocios Verdes en Colombia. Este programa fue construido y dirigido por el Ministerio de Medio Ambiente, que actualmente se denomina, Ministerio de Medio Ambiente y Desarrollo Sostenible (MADS) contando con la participación de diferentes entidades del Sistema Nacional Ambiental (SINA), otras entidades públicas y el sector privado. 
        p Este programa se planteó para un periodo de diez años (2002 – 2012) con el objetivo de consolidar la producción de bienes ambientalmente sostenibles e incrementar la oferta de servicios ecológicos competitivos en los mercados nacionales e internacionales, contribuyendo al mejoramiento de la calidad ambiental y el bienestar social, además de lograr objetivos específicos como : 
        .row.justify-content-center.align-items-center.mt-5
            .col-6
                hr.hr-green 
                ul.ul2
                    li
                        p Impulsar la demanda nacional por productos verdes.
                hr.hr-green   
                ul.ul2
                    li
                        p Posicionar a Colombia como proveedor de productos verdes.
                hr.hr-green   
                ul.ul2
                    li
                        p Consolidar la oferta de los productores verdes.
                hr.hr-green    
                ul.ul2
                    li
                        p Establecer instrumentos de apoyo al sector de productos verdes. 
                hr.hr-green
        p.mt-5 Adicional a lo anterior, se definieron las siguientes categorías de los mercados verdes:          
        table.mt-5
            tbody
                tr
                    th.col-tab-t1 
                        h3.text-center Uso y aprovechamiento sostenible de los recursos naturales 
                    th.col-tab-t1 
                        h3.text-center Eco - productos
                    th.col-tab-t1
                        h3.text-center Servicios ambientales
                    th.col-tab-t1 
                        h3.text-center Mecanismo de desarrollo limpio
                tr
                    td.col-tab-t2 
                        ul.ul2
                            li
                                p Productos naturales no maderables.
                        ul.ul2
                            li
                                p Productos naturales maderables.
                        ul.ul2
                            li
                                p Agricultura ecológica.
                        ul.ul2
                            li
                                p Fauna.
                        ul.ul2
                            li
                                p Biotecnología.
                    td.col-tab-t2  
                        ul.ul2
                            li
                                p Aprovechamiento de residuos y reciclaje.
                        ul.ul2
                            li
                                p Productos manufacturados menos contaminantes.
                        ul.ul2
                            li
                                p Energías limpias.
                        ul.ul2
                            li
                                p Minería sostenible.
                        ul.ul2
                            li
                                p Tecnologías mitigación.
                    td.col-tab-t2 
                        ul.ul2
                            li
                                p Ecoturismo.
                        ul.ul2
                            li
                                p Educación ambiental.
                        ul.ul2
                            li
                                p Consultorías ambientales.
                        ul.ul2
                            li
                                p Infraestructura para el tratamiento de vertimientos y emisiones.
                        ul.ul2
                            li
                                p Gestión integral de residuos sólidos.
                    td.col-tab-t2 
                        ul.ul2
                            li
                                p Reducción y captura de gases efecto invernadero (GEI)       
        .header-arrow.my-5.py-4
            h3.text-center Plan Estratégico Nacional de Mercados Verdes (PENMV) - Periodo 2002 - 2012
        p.mt-5 La PML fue una estrategia diseñada por el Estado colombiano para promover y enlazar el mejoramiento ambiental y la transformación productiva a la competitividad empresarial. En dicha política se define la producción más limpia como la aplicación continua de una estrategia ambiental preventiva e integrada en los procesos productivos, los productos y los servicios, para reducir los riesgos para los humanos y el ambiente. 
        p El objetivo principal es garantizar la protección ambiental, el crecimiento económico, el bienestar social y la competitividad empresarial, a partir de la introducción de la dimensión ambiental en los sectores productivos, como un desafío de largo plazo.
        img.img-a.img-mano(src="assets/images/pages/ilustraciones/img17.svg").img-fluid     
        .jumbotron.caja-mano
            p.top La PML orientó y enriqueció el PENMV. En el caso de los procesos productivos, se enfocó hacia la conservación de materias primas y energía, la eliminación de materias primas tóxicas, 	y la reducción de la cantidad y toxicidad de todas las emisiones contaminantes y los desechos. En el caso de los productos se buscó la reducción de los impactos negativos que 	acompañan el ciclo de vida del producto, desde la extracción de materias primas hasta su disposición final, generando “productos finales más respetuosos con el medio ambiente”. En los servicios se orientó hacia la incorporación de la dimensión ambiental, tanto en el diseño como en la prestación de estos.
            p Al igual que el PENMV, la PML buscaba garantizar el desarrollo sostenible y enfrentar los nuevos retos de la competitividad empresarial, donde la gestión ambiental es considerada como una fuente de oportunidades y no como un obstáculo.
            p Implementando la PML se aumenta la eficiencia de los procesos, el ahorro en el consumo de materias primas y energía, y la disminución de residuos y emisiones contaminantes. La implementación de la PML, como se menciona en la Política de Producción y Consumo Sostenible (PP&CS), ha mostrado resultados importantes en el país. Los mayores esfuerzos 	se han dado en el ámbito de la producción, pero es evidente que aún existe un mercado de bienes y servicios que no cumple con criterios de sostenibilidad. 
            p A través de la PML se crearon centros especializados en asistencia técnica y capacitación en producción con estos criterios, se promovió la adopción de guías ambientales sectoriales y la suscripción de convenios de producción más limpia y el fortalecimiento de la autogestión y la 	autorregulación, todo lo cual se ve reflejado en la tendencia creciente de integrar la responsabilidad social y ambiental empresarial como eje estratégico de la gestión.
            p Es importante mencionar que las mejoras alcanzadas hasta el momento en materia de producción contrastan con una población en continuo crecimiento, que demanda cada vez más productos y servicios sin entrar a considerar la forma como han sido elaborados o provistos, en virtud muchas veces de la desinformación, la falta de conocimiento o el desinterés. El consumidor permanece indiferente en materia ambiental y sus preferencias de consumo están determinadas principalmente por el precio y la calidad (Ministerio de Ambiente y Desarrollo Sostenible, 2014).
        .header-arrow.my-5.py-4
            h3.text-center Problemáticas y limitaciones para el desarrollo de negocios verdes
        p.mt-5 Las problemáticas y limitaciones presentadas en el país para el desarrollo de los Negocios verdes se han estudiado y ordenado en tres categorías principales: oferta, demanda e instituciones de soporte del mercado. 
        ul.ul2
            li
                p La oferta hace referencia a los productores de bienes y servicios e incluye a los distribuidores y negociadores. Para su análisis se dividieron en dos categorías: 
        .jumbotron.mt-5.mx-5.color-1
            ul.ul2
                li
                    p #[strong Categoría: sistema de negocio.] esta categoría va desde la consecución de las materias primas hasta la comercialización del producto final, procesos en los cuales se detectaron las siguientes limitaciones en términos generales: 
        table.mt-5.mx-5
            thead
                tr
                    th(colspan="2").color-2 
                        h2.text-center Limitaciones en la oferta #[br] Categoría: sistema de negocio
            tbody
                tr
                    td.color-3
                        h3 Materias primas
                    td.color-3
                        ul.ul2
                            li
                                p Existe desconocimiento de la caracterización de las especies silvestres con las que cuenta el país, sus usos y mercados potenciales.
                        ul.ul2
                            li
                                p En la mayoría de los casos, no es fácil acceder a las zonas de producción de los bienes y servicios de la biodiversidad, debido a que las vías de acceso son escasas y los costos de transacción incrementan el valor del producto final.
                tr
                    td.color-4
                        h3 Producción
                    td.color-4   
                        ul.ul2
                            li
                                p Existe un volumen de producción insuficiente para suplir la demanda del mercado. La producción es mínima y no se cuenta con redes de productores consolidadas que cubran dicha demanda.
                        ul.ul2
                            li
                                p La producción tiene debilidades competitivas en cuanto a calidad y cantidad.
                        ul.ul2
                            li
                                p En algunas zonas del país existen alteraciones del orden público, hecho que limita el desarrollo de la actividad productiva.
                tr
                    td.color-3
                        h3 Logística
                    td.color-3
                        ul.ul2
                            li
                                p Falta mayor organización logística en las zonas de producción (centros de acopio, almacenaje, transporte, distribución).                    
                tr
                    td.color-4
                        h3 Producto/Servicio (Transformación) Comercialización
                    td.color-4
                        ul.ul2
                            li
                                p El valor agregado, haciendo referencia a la transformación que se le hace al producto final, es mínimo. 
                        ul.ul2
                            li
                                p La mayoría de los productos finales son la misma materia prima.
                        ul.ul2
                            li
                                p El empaque de la mayoría de los productos verdes no incluye características ambientales.
                        ul.ul2
                            li
                                p Muy pocos tienen en cuenta la trazabilidad del producto.
                tr
                    td.color-3
                        h3 Comercialización
                    td.color-3
                        ul.ul2
                            li
                                p Al no estar tan organizado el tema productivo y logístico en la mayoría de los productores, las exigencias del mercado internacional exceden las capacidades instaladas locales y en muchos casos se desconocen los requisitos exigidos (calidad, cantidad, medidas fito y zoosanitarias, certificados de inocuidad, trazabilidad, etiquetado y rotulado, entre otros).
                        ul.ul2
                            li
                                p Existen muy pocos estudios de mercado desarrollados para productos de negocios verdes. A su vez, faltan líneas y programas para su promoción.
                        ul.ul2
                            li
                                p Faltan plataformas de comercialización exclusivas para productos de negocios verdes.
                        ul.ul2
                            li
                                p Existencia de competencia ilegal en la comercialización de especies nativas (fauna, flora)
                        ul.ul2
                            li
                                p En la mayoría de los casos, las líneas de investigación de los Institutos de investigación están desligadas de las necesidades identificadas en los estudios de mercado.
                        ul.ul2
                            li
                                p Existencia de paternalismo y dependencia del Estado.
        .jumbotron.mt-5.mx-5.color-1
            ul.ul2
                li
                    p #[strong Categoría: actividades de soporte.] en esta categoría se encuentran las alianzas entre productores, acceso a recursos financieros, capacidades empresariales, entre otras. Igualmente, en términos generales se detectaron las siguientes limitaciones: 
        table.mt-5.mx-5
            thead
                tr
                    th(colspan="2").color-2 
                        h2.text-center Limitaciones en la oferta #[br] Categoría: actividades de soporte
            tbody
                tr
                    td.color-3
                        h3 Accesos a recursos financieros
                    td.color-3
                        ul.ul2
                            li
                                p Existen muy pocas líneas de fomento específicas a Negocios verdes, diseñadas por los bancos de segundo piso y los bancos comerciales.
                        ul.ul2
                            li
                                p Dificultad para acceder en la mayoría de los casos a recursos financieros como garantías sobre terrenos que son colectivos: negritudes, indígenas; tasas de crédito de libre inversión.
                tr
                    td.color-4
                        h3 Capacidades empresariales
                    td.color-4   
                        ul.ul2
                            li
                                p Falta fortalecer las capacidades de gestión, formulación de proyectos, desarrollo empresarial, producción, investigación, tecnologías e innovación orientados a los negocios verdes. 
                        ul.ul2
                            li
                                p El nivel de habilidades y formación técnica/profesional de los actores (producción primaria principalmente) debe fortalecerse.
                tr
                    td.color-3
                        h3 Organización, alianzas y articulación 
                    td.color-3
                        ul.ul2
                            li
                                p Predominio de la cultura de corto plazo. 
                        ul.ul2
                            li
                                p El nivel de asociatividad y articulación entre los productores de Negocios verdes es mínimo (alta demanda y poca oferta).
                        ul.ul2
                            li
                                p Falta mayor involucramiento de las grandes empresas con este tema y el encadenamiento de las empresas locales con estas grandes en las iniciativas de negocios verdes.
                        ul.ul2
                            li
                                p Falta pasar de una cadena productiva a una cadena de valor por producto y no por sector como se viene desarrollando actualmente.
                tr
                    td.color-4
                        h3 Conocimientos científicos y tecnológicos
                    td.color-4
                        ul.ul2
                            li
                                p Limitada generación, transferencia y usos de tecnologías para productos de negocios verdes. A su vez, las pocas generadas no son fáciles de adaptar a las condiciones locales del país.
                        ul.ul2
                            li
                                p Limitado acceso al apoyo financiero y técnico a la investigación e innovación en: protocolos de aprovechamiento, propiedades y usos, tecnologías y generación de valor agregado entre otros.
                        ul.ul2
                            li
                                p Falta generar mayor investigación para desarrollar un mayor valor agregado y calidad a los productos.
        ul.ul2.mt-5
            li
                p La demanda considera la cantidad máxima de un bien o servicio que los consumidores están dispuestos a adquirir a un determinado precio. En el análisis se identificaron las siguientes limitaciones: 
        table.mt-5.mx-5
            thead
                tr
                    th(colspan="2").color-2 
                        h2.text-center Limitaciones en la demanda 
            tbody
                tr
                    td.color-3
                        h3 Consumidores 
                    td.color-3
                        ul.ul2
                            li
                                p Desconocimiento de qué son los negocios verdes, sus características diferenciadoras, sus beneficios para el ambiente, la salud y la sociedad.
                        ul.ul2
                            li
                                p Escases en las campañas de sensibilización, concientización y posicionamiento del tema en los consumidores.
                        ul.ul2
                            li
                                p Se pueden diseñar y crear instrumentos de diferenciación de productos como el Sello Ambiental Colombiano (SAC) pero si no se promocionan, ni se sensibiliza al consumidor con el instrumento, se pierde todo el esfuerzo e inversiones realizadas.
                        ul.ul2
                            li
                                p Falta más impulso al cambio cultural del consumidor colombiano.
                        ul.ul2
                            li
                                p El mercado local para estos productos es bastante incipiente, comparativamente con países desarrollados.
        ul.ul2.mt-5
            li
                p Limitantes en las instituciones soporte del mercado: hace referencia a las limitaciones relacionadas con: 
        table.mt-5.mx-5
            thead
                tr
                    th(colspan="2").color-2 
                        h2.text-center Limitaciones en las instituciones 
            tbody
                tr
                    td.color-3
                        h3 Marco normativo  
                    td.color-3
                        ul.ul2
                            li
                                p A pesar de contar con un amplio marco normativo en temas ambientales, no se cuenta con la capacidad instalada para su seguimiento y cumplimiento.
                        ul.ul2
                            li
                                p Colombia tiene una legislación de carácter proteccionista en el acceso a recursos genéticos de la biodiversidad. (Fuente: Los Negocios verdes en Colombia, BID, 2013). A su vez, sus trámites excesivos desincentivan a las empresas e investigadores a invertir en biotecnología. 
                        ul.ul2
                            li
                                p Aprovechamiento Biodiversidad. Sus protocolos no están reglamentados y hay vacíos en los permisos solicitados. Resultan ser muy costosos para los pequeños productores de Negocios verdes. 
                        ul.ul2
                            li
                                p Competencia ilegal. Poca efectividad en el control y tráfico ilegal de especies nativas.
                tr
                    td.color-4
                        h3 Capacidades empresariales  
                    td.color-4
                        ul.ul2
                            li
                                p Se desconoce el impacto de los proyectos de Negocios verdes al ambiente y a la economía.
                        ul.ul2
                            li
                                p Falta promoción y difusión de productos y servicios verdes que incentiven la oferta y la demanda.
                        ul.ul2
                            li
                                p Falta divulgación y promoción de las políticas, normatividad e instrumentos de Negocios verdes en las instituciones y en la sociedad. 

                tr
                    td.color-3
                        h3 Finanzas e incentivos económicos  
                    td.color-3
                        ul.ul2
                            li
                                p Desconocimiento de los Negocios verdes en el sector financiero, por lo cual, existen pocas líneas de financiación.
                        ul.ul2
                            li
                                p Pocos incentivos financieros y tributarios diferenciales por parte de los bancos de primer piso en cuanto a tasas preferenciales y periodos de gracia a las empresas con mejores desempeños ambientales.

                tr
                    td.color-4
                        h3 Cooperación  
                    td.color-4
                        ul.ul2
                            li
                                p Falta coordinación interinstitucional con la cooperación Internacional y las áreas de responsabilidad social de las empresas privadas en temas no solo de cooperación financiera sino también técnica.
                tr
                    td.color-3
                        h3 Articulación   
                    td.color-3
                        ul.ul2
                            li
                                p Es muy débil la articulación y coordinación institucional regional-nacional entre los actores públicos y entre las entidades público-privadas para el desarrollo de los Negocios Verdes en cuanto a innovaciones tecnológicas, generación de conocimiento, fortalecimiento empresarial, negocios inclusivos, y la dinamización y competitividad (altos volúmenes y calidad de la oferta) en el mercado. 
                        ul.ul2
                            li
                                p Al PENMV y al PNBS les faltó articularse con otras políticas públicas y sectores productivos relacionados con el tema de negocios verdes.
                tr
                    td.color-4
                        h3 Organización 
                    td.color-4
                        ul.ul2
                            li
                                p Falta capacitar al recurso humano en investigación, gestión de proyectos, acompañamiento en la formulación de proyectos, buenas prácticas de sostenibilidad, temas empresariales y comercialización.
                        ul.ul2
                            li
                                p Alta rotación de personal y manejo de las CAR por contratistas
                        ul.ul2
                            li
                                p Falta mayor compromiso y definición de los roles y funciones de las instituciones involucradas o relacionadas con el tema.

                tr
                    td.color-3
                        h3 Tecnología e innovación 
                    td.color-3
                        ul.ul2
                            li
                                p La investigación desarrollada es más de carácter científico (académico) que empresarial, hace falta su articulación a la visión de negocio verde.
                        ul.ul2
                            li
                                p El sector privado desconoce las investigaciones desarrolladas por los institutos de investigación en negocios verdes.
                        ul.ul2
                            li
                                p Hacen falta más recursos económicos para investigación en sectores de Negocios verdes y faltan más líneas de investigación básica y aplicada para el desarrollo de productos verdes.
        ul.ul2.mt-5
            li
                p Oportunidades para los Negocios verdes en Colombia 
        p.mt-5 Las oportunidades que posee Colombia en relación con la comercialización de negocios sostenibles se han clasificado en cuatro (4) categorías:                              

        .row.justify-content-center.align-items-center
            .col-11              
                nav.nav-tab-ecored.my-5
                    #nav-tabContent.tab-content.color-5
                        #nav-01.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='nav-01-tab') 
                            .row.justify-content-center.align-items-center
                                .col-6                                  
                                    p.mt-5 #[strong Biodiversidad:] como se mencionó anteriormente, Colombia es un país con una riqueza ambiental enorme, cuenta con una extensa biodiversidad que le ha permitido tener ventajas comparativas frente a los países de la región y encontrarse en los primeros puestos del ranking mundial de países mas biodiversos en las categorías de mamíferos, aves, reptiles, anfibios, flora y especies endémicas.
                                .col-6    
                                    img.img-a(src="assets/images/pages/ilustraciones/img18.png").img-fluid                          
                        #nav-02.tab-pane.fade(role='tabpanel', aria-labelledby='nav-02-tab')  
                            .row.justify-content-center.align-items-center
                                .col-6                                  
                                    p.mt-5 #[strong Tendencias mundiales de mercados verdes:] con el auge de la globalización, la tendencia de la producción se orienta hacia los mercados internacionales y con ello, la necesidad de innovar y desarrollar productos y servicios que satisfagan las necesidades de los clientes potenciales. Los sectores con mayor proyección de crecimiento en Colombia son el agrícola y forestal, razones más que suficientes para aprovechar las oportunidades que estos sectores otorgan a los productores nacionales.
                                .col-6                                     
                                    img.img-a(src="assets/images/pages/ilustraciones/img19.png").img-fluid
                        #nav-03.tab-pane.fade(role='tabpanel', aria-labelledby='nav-03-tab')  
                            .row.justify-content-center.align-items-center
                                .col-6                                   
                                    p.mt-5 #[strong Tratados de Libre Comercio (TLC):] son acuerdos mediante los cuales dos o más países reglamentan sus relaciones comerciales, con el fin de incrementar los flujos de comercio e inversión y, por esa vía, elevar su nivel de desarrollo económico y social. Actualmente, Colombia con XX TLC firmados con diferentes países y conjunto de países, tales como el TLC Colombia - Estados Unidos o MERCOSUR , que es el Acuerdo de Complementación Económica. Brasil, Argentina, Uruguay, Paraguay.
                                    p Estos tratados o acuerdos comerciales representan ventajas para los países participantes porque permiten una mayor cantidad de transacciones comerciales entre los países y para el caso colombiano, representan mayores oportunidades de exportación de los productos agroindustriales, textiles, flora, fauna y en cuanto al sector de servicios, el turismo, es el fuerte logrando el aprovechamiento de la extensa riqueza en biodiversidad colombiana. 
                                .col-6                                    
                                    img.img-a(src="assets/images/pages/ilustraciones/img20.png").img-fluid                                
                        #nav-04.tab-pane.fade(role='tabpanel', aria-labelledby='nav-04-tab')  
                            .row.justify-content-center.align-items-center
                                .col-6                                
                                    p.mt-5 #[strong Compras públicas sostenibles:] se define como gasto público las erogaciones en que incurre el conjunto de entidades estatales de un país;  comprende las compras y gastos que se realizan en un período determinado, que por lo general es un año. El gasto público es uno de los elementos más importantes en el manejo macroeconómico de un Estado. 
                                    p En consecuencia, el rubro destinado para la compra de productos y servicios sostenibles es alto y las oportunidades para productores proporcional al mismo, por Colombia contar con políticas enfocadas al desarrollo de Negocios verdes. 
                                .col-6                                     
                                    img.img-a(src="assets/images/pages/ilustraciones/img21.png").img-fluid
                    #nav-tab.nav.nav-tabs(role='tablist')
                        a#nav-01-tab.nav-item.nav-link.active.color-6(data-toggle='tab', href='#nav-01', role='tab', aria-controls='nav-01', aria-selected='true') 
                            strong #[p Biodiversidad ] 
                        a#nav-02-tab.nav-item.nav-link.color-7(data-toggle='tab', href='#nav-02', role='tab', aria-controls='nav-02', aria-selected='false') 
                            strong Tendencias 
                        a#nav-03-tab.nav-item.nav-link.color-8(data-toggle='tab', href='#nav-03', role='tab', aria-controls='nav-03', aria-selected='false') 
                            strong Tratados 
                        a#nav-04-tab.nav-item.nav-link.color-9(data-toggle='tab', href='#nav-04', role='tab', aria-controls='nav-04', aria-selected='false') 
                            strong Compras 
        .sub-ecored#13.mt-5
            h2 1.3. Clasificación de los Negocios verdes  
        p.mt-5 Los Negocios verdes en Colombia se han clasificado y organizado en tres grupos: categorías, sectores y subsectores, cada uno de ellos con bienes y servicios con potencial a ser comercializados nacional e internacionalmente. 
        p En la tabla se observa la clasificación por categorías de los Negocios verdes
        table.mt-5.mx-5
            tbody
                tr
                    th.col-tab-t1 
                        h3.text-center Categoría 
                    th.col-tab-t1 
                        h3.text-center Sectores
                    th.col-tab-t1     
                        h3.text-center Subsectores  
                tr
                    td(rowspan="2").color-3 
                        h3 Ecoproductos industriales 
                    td.color-3 
                        p Aprovechamiento y valoración de residuos
                    td.color-3 
                        p 
                tr
                    td.color-3
                        p Fuentes convencionales de energía no renovable
                    td.color-3
                        p Energía Solar #[br] Energía eólica #[br] Energía geométrica #[br] Energía de los mares #[br] Biomasa #[br] Energía de pequeños aprovechamientos hidroeléctricos                    
                tr
                    td.color-4 
                        h3 Mercado de carbono (relacionado con el cambio climático)
                    td.color-4
                        p Construcción sostenible #[br] Otros bienes/servicios verdes sostenibles #[br] Mercado voluntario #[br] Mercado regulado 

                    td.color-4 
 
                tr
                    td(rowspan="3").color-3 
                        h3 Bienes y servicios sostenibles provenientes de recursos naturales
                    td.color-3
                        p Agro sistemas sostenibles
                    td.color-3
                        p Sistema de producción ecológico, orgánico y biológico 
                tr
                    td.color-3
                        p Biocomercio 
                    td.color-3
                        p Recursos genéticos y productos derivados #[br] Turismo de la naturaleza (Ecoturismo) #[br] Productos derivados de la fauna silvestre #[br] No maderables #[br] Maderables
                tr
                    td.color-3
                        p Negocios para la restauración 
                    td.color-3      
        .sub-ecored#14.mt-5
            h2 1.4. Criterios para identificación de Negocios verdes  
        img.img-a(src="assets/images/pages/ilustraciones/img22.svg").img-fluid
        p.mt-5 Se entiende como criterio una categoría que agrupa atributos o características relacionadas o similares. En este caso, entonces, los criterios señalarán los aspectos del bien o servicio que son fundamentales en el contexto de la sostenibilidad y que permitirán identificar una oferta de bienes y servicios de Negocios verdes que, sin disminuir sus características de calidad, procuran no causar efectos indeseables en el entorno físico y social y generar unos impactos ambientales positivos directos  (Ministerio de Ambiente y Desarrollo Sostenible, 2014).
        p Así mismo, permite al consumidor conocer las características y beneficios de cada uno de los productos, al igual que le permite ejercer su derecho a un consumo responsable, con pleno conocimiento de los recursos utilizados para la elaboración de este, el impacto sobre el medio ambiente y los criterios de clasificación con los cuales cumple. 
        p A continuación se mencionan los doce criterios contemplados para los Negocios verdes en Colombia, que son implementados de forma voluntaria por las empresas que buscan un valor agregado en sus bienes y servicios, considerados como Negocios Verdes y Sostenibles (NVS): 
        table.mt-5
            tbody
                tr
                    td.col-tab-t1 
                        p.text-center Viabilidad económica del negocio
                    td.col-tab-t1 
                        p.text-center Impacto ambiental positivo del bien o servicio
                    td.col-tab-t1     
                        p.text-center Enfoque de ciclo de vida del bien o servicio
                    td.col-tab-t1     
                        p.text-center Vida útil 
                tr
                    td.color-3 
                        p.text-center No uso de sustancias o materiales peligrosos 
                    td.color-3 
                        p.text-center Reciclabilidad de los materiales y/o uso de materiales reciclado
                    td.color-3     
                        p.text-center Uso eficiente y sostenible de recursos para la producción del bien o servicio
                    td.color-3     
                        p.text-center Responsabilidad social al interior de la empresa
                tr
                    td.color-4 
                        p.text-center Responsabilidad social y ambiental en la cadena de valor de la empresa
                    td.color-4 
                        p.text-center Responsabilidad social y ambiental al exterior de la empresa
                    td.color-4     
                        p.text-center Comunicación de atributos sociales o ambientales asociados al bien o servicio
                    td.color-4     
                        p.text-center Esquemas, programas o reconocimientos ambientales o sociales implementados
        p.mt-5 Tenga en cuenta que no se considerarán como criterios aspectos ambientales y sociales que sean requisitos de ley, ya que se entienden como el mínimo requerido para cumplir con la legislación nacional e internacional. (Ministerio de Ambiente y Desarrollo Sostenible, 2014).
        hr.hr-yellow.mt-5
        p Para conocer más información sobre Negocios verdes, observe el video del MADS en el material complementario: aprendamos sobre negocios verdes y sostenibles.
        hr.hr-yellow
        section.mt-5