.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Autor, (año del documento o material),  Nombre del documento o material.
                    th.text-center Tipo de material ( Video, capítulo de libro, articulo, otro) 
                    th.text-center(style="width:150px") Enlace del Recurso o Archivo del documento o material

            tbody

            
                tr
                    td Ministerio de Ambiente y Desarrollo Sostenible, (2015). Aprendamos sobre negocios verdes y sostenibles.
                    td Video  
                    td 
                        a(href="https://youtu.be/rfD-UKuod18", target="_blank") <span class="fa fa-play" aria-hidden="true"></span> Ver   
                tr
                    td Ministerio de Ambiente y Desarrollo Sostenible, (2014). Plan Nacional de Negocios Verdes
                    td PDF 
                    td 
                        a(href="media/documentos/Plan_Nacional_de_Negocios_Verdes.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar  
                tr
                    td Ministerio de Ambiente y Desarrollo Sostenible, (2014). Programa Nacional de Biocomercio Sostenible (2014-2024)
                    td PDF 
                    td 
                        a(href="media/documentos/Programa_Nacional_Biocomercio_Sostenible.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar  
                tr
                    td Ministerio de Ambiente y Desarrollo Sostenible, (2014). “Programa Regional de Negocios Verdes” Región Pacifico
                    td PDF 
                    td 
                        a(href="media/documentos/Programa_Regional_Negocios_Verdes_Region_Pacifico.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar  
                tr
                    td Ministerio de Ambiente y Desarrollo Sostenible, (2014). “Programa Regional de Negocios Verdes” Región Caribe
                    td PDF 
                    td 
                        a(href="media/documentos/Programa_Regional_Negocios_Verdes_Region_Caribe.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar  
                tr
                    td Ministerio de Ambiente y Desarrollo Sostenible, (2014). “Programa Regional de Negocios Verdes” Región Amazona
                    td PDF 
                    td 
                        a(href="media/documentos/Programa_Regional_Negocios_Verdes_Region_Amazonia_.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar  
                tr
                    td Ministerio de Ambiente y Desarrollo Sostenible, (2014). “Programa Regional de Negocios Verdes” Región Orinoquia
                    td PDF 
                    td 
                        a(href="media/documentos/Programa_Regional_Negocios_Verdes_Region_Orinoquia.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar  
                tr
                    td Ministerio de Ambiente y Desarrollo Sostenible, (2014). “Programa Regional de Negocios Verdes” Región Central 
                    td PDF 
                    td 
                        a(href="media/documentos/Programa_Regional_Negocios_Verdes_Region_Central.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar  